
   h1 {
    font-family: tahoma;
  } 

   .deals {
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
  }

  .deadline {
    font-family: Arial;
    color: rgb(213, 5, 5);
    font-size: 20px;
    font-style: italic;
    margin-top: 6px;
  } 
 p {
    font-family: verdana;
  }

  .course {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .level {
    color: rgb(96, 96, 96);
    margin-top: 0px;
    font-size: 14px;
  }

  .brief {
    width: 300px;
    font-size: 15px;
    color: black;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .get {
    background-color: rgb(24, 128, 56);
    color: white;
    border: none;
    border-radius: 6px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    cursor: pointer;
  } 

  .card {
    padding: 20px;
    width: 350px;
  }

  .business {
    font-family: Arial;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 8px;
    text-align: center;
  }

  .apple {
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 8px
  }

  .link {
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    color: rgb(8, 83, 188);
    margin-top: 20px;
  }