.text-preview{
  border: 2px solid black;
  margin:20px;
  width: 300px;
  padding: 15px;
}

.box1{
  display: block;
  margin-bottom: 3px;
  width: 100%;
  padding: 6px;
}
.box2{
  display: block;
  width: 100%;

} */

.para{
  width: 180px;
  display: inline-block;
  vertical-align: middle;
}

.b1{
  display: inline-block;
  vertical-align: middle;
}
.b2{
  display: inline-block;
  vertical-align: middle;
}

/* .logo{
  width: 250px;
  display: block;
  margin-top: 150px;
  margin: 150px auto 20px auto;
}

.search-bar{
  display: block;
  border: none;
  border-radius: 24px;
  box-shadow:  0 2px 6px rgba(0,0,0,0.2);
  width: 800px;
  margin: 0 auto;
padding: 14px;
} */