/* .cat{
  width: 200px;
  border-radius: 10px;
} */

/* .cat{
  width: 200px;
  height: 200px;
  object-fit:cover ;
  overflow: hidden;
  border-radius: 50%;

} */
 /* .search-bar{
  border-radius: 25px;
  width: 300px;
  padding: 12px 18px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  outline: none;
  font-size: 16px;
  border: none;
  font-size: 15px;
 } */
/* .email{
  color: rgb(96, 96, 96);
  margin-bottom:0;
  text-align: center;
}
.bar{
  width:320px ;
  margin-top: 2px;
  border-style: solid;
  border-radius: 2.5px;
  line-height: 24px;
   margin: auto;
   display: block;
}
.text{
  font-size: 14px;
  color: rgb(67, 67, 67);
  text-align: center;
}
.confirm{
  width: 320px;
  border-radius: 15px;
  border:none;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 14px;
  background-color: rgb(0, 91, 187);
  color: white;
margin: auto;
display: block;
} */

.profile{
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align:middle;
}
.tweet{
  padding: 8px 10px;
  border: none;
  font-size: 14px;
  vertical-align: middle;
  font-size:15px;
}
.twitter{
  background-color:#1DA1F2 ;
  color: white;
  border-radius: 20px;
  border:none;
  margin-left: 0;
  padding: 10px 18px;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}