.header{
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-section{
  display: flex;
  align-items: center;
}
.menu{
  height: 28px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtube-logo{
  height: 20px;
}
.middle-section{
  flex: 1;
  margin-left: 60px;
  margin-right: 35px;
  max-width: 470px;
  display: flex;
  align-items: center;
}
.search-bar::placeholder{
  font-size:14px ;
  font-family: roboto,arial;
}
.search-bar{
  flex:1;
  height: 36px;
  padding-left: 8px ;
  font-size: 15px;
  border: 1px solid rgb(192, 187, 187);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;

}
.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(192,187,187);
  margin-left: -1.5px;
  margin-right: 10px;
}
.search-icon{
  height: 24px;
  margin-top: 4px;
}
.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
    background-color: rgb(246, 246, 246);

}
.voice-search-icon{
  height: 24px;
  margin-top: 4px;
}
.right-section{
  width: 182px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon{
  height:24px ;
}
.youtube-apps-icon{
  height: 24px;
}
.notifications-icon{
  height: 24px;
}
.current-user-pic{
  height: 32px;
  border-radius: 50%;
}
